*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color:#3B5D50 ;
    height: fit-content;
}
.navbar-brand{
    font-size: 35px;
    
}
.couch{
    width: 100%;
}
.navbar-brand span{
    opacity: 0.5;
}

nav ul li a.active,
nav ul li a:hover{
    border-bottom:gold 4px solid;
}

.navbar-nav .nav-link{
    position: relative;
    color: rgba(255,255,255,0.6) !important;
    transition: all 0.3s ease;
}

.navbar-nav .nav-link::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0%;
    height: 3px;
    background-color: #F9BF29;
    transition: width 0.3s ease;
}

.navbar-nav .nav-link:hover{
    color: #fff !important;
}

.navbar-nav .nav-link:hover::after{
    width: 100%;
}

.navbar-nav .nav-link.active{
    color: #fff !important;
}

.navbar-nav .nav-link.active::after{
    width: 100%;
}
.nav-link.active,
.nav-link:hover{
    color: #fff ;
    border-bottom: 3px solid #F9BF29;
}
.hero h1{
    font-size: 55px;
    font-weight: bolder;
}
.product{
    height: 450px;
    font-size: 20px; 
}    
.product h3{
    font-size: 20px;
}
.product p{
    font-weight: bold;
}
.product .plus{
    padding: 5px;
    background: #000;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    opacity: 0;
    color: aliceblue;
    transition: 0.3s ease-in;
    margin: auto;
}
.product:hover .plus{
    transform: translateY(50%);
    display: block;
    opacity: 1;
}
.product img{   
    width: 100%;
    transition:transform 0.3s ease;
}
.product:hover img{
    transform: translateY(-50px);
}
.product{
    position: relative;
}
.product::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 1;
    border-bottom: transparent 300px solid;
    border-radius: 10px;
    transition:border-color 0.3s ease-in-out;
}
.product:hover::after{
    border-bottom-color: rgba(148, 194, 210, 0.295);
}
.View-anchor:hover{
    text-decoration: none;
}
.posts:hover{
    opacity: 0.7;
}
@media (min-width:700px){
    .hero-image{
    position: relative;
}
.dots{
    position:absolute;
    top: 0;
    right: -85px;
}
.couch{
    position:absolute;
    z-index: 4;
    margin-bottom: 50px;
}
}